@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: 'PP Telegraph';
  src: url('./fonts/PPTelegraf-Free\ for\ personal\ use/PPTelegraf-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'PP Telegraph';
  src: url('./fonts/PPTelegraf-Free\ for\ personal\ use/PPTelegraf-UltraBold.otf');
  font-weight: 800;
}

body {
  margin: 0;
  font-family: 'Inter', 'PP Telegraph', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}